<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Engine </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {{>header}}
    <h1>Welcome to Template Engine Tutorial My name is {{MyName}}</h1>
    {{>footer}}
</body>
</html>